<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Cart</title>
	
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <!-- JS -->
    <!--  <script th:src="@{/js/quantity.js}"></script> -->
    <script th:src="@{/js/update_remove_cart.js}"></script>
    <script th:src="@{/js/remove.js}"></script>
    <script th:src="@{/js/order.js}"></script>
    <script th:src="@{/js/checkout.js}"></script>
   	<!-- CSS -->
	<link th:href="@{/css/home.css}" rel="stylesheet" />
	<link th:href="@{/css/cart.css}" rel="stylesheet" />
	
	<!-- ICON -->
	<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.4/css/all.css} "/>

	<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    
</head>
<body>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	
<!-- NAV BAR ^ ^  -->
     <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
    	<!-- LOGO -->
  		<div class="container-fluid">
  		<!-- <div class="container-xl"> -->
  			<a class="navbar-brand" href="/Home">
      			<img th:src="@{/img/Logo_new.png}" width="50px" height="50px" class="d-inline-block align-top" alt="">
   			 </a>
    	<button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
      		<span class="navbar-toggler-icon"></span>
    	</button>
    	
    	<!-- Menu -->
     	<!-- <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault"> -->
     	<div class="topnav-right offcanvas-collapse" id="navbarsExampleDefault">
      		<ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navbar">
        		<li class="nav-item">
          			<a class="nav-link" aria-current="page" href="/">หน้าหลัก</a>
        		</li>
        		<li class="nav-item">
          			<a class="nav-link" href="/Menu">เมนู</a>
        		</li>
        		<li class="nav-item">
          			<a class="nav-link" href="/About">เกี่ยวกับร้าน</a>
        		</li>
        		<li class="nav-item">
          			<a class="nav-link active" href="/Cart">ตะกร้าของฉัน</a>
        		</li>
        		<li class="nav-item dropdown">
          			<a class="nav-link dropdown-toggle" href="/Account" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
          			<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown01">
            			<li><a class="dropdown-item" href="/Account">บัญชีของฉัน</a></li>
            			
            			
          			</ul>
        		</li>
      		</ul>
    	</div>
    	<script type="text/javascript">
			contextPath = "[[@{/}]]";
			var csrfHeaderName = "[[${_csrf.headerName}]]";
			var csrfValue = "[[${_csrf.token}]]";
			var fullname = "[[${#request.userPrincipal.principal.fullName}]]";
			var tempmenu = null;
			var total = 0;

			function addMenuToOrder(menu){
				if(tempmenu === null){
					tempmenu = menu
				}
				else{
					tempmenu = tempmenu + ", "+ menu
				}
			}
			
			function checkOut(){
				tempmenu = null;
				$('.crepe-menu').each(function(){
					
					var id = $(this).attr('id');
			        //Get the matrix value of the current div
			        var menu_name = $(this).text();
					var qty = $("#quantity"+id).val();
					var price = $("#price"+id).text();
					
					addMenuToOrder(menu_name+"("+price+"฿) x"+qty);
			    });
				$("#customer_name").val(fullname);
				$("#menu_list").val(tempmenu);
				$("#total_amount").val(total);  
			}
			
			function updateTotal(){
				total = 0;
				
				$(".menuSubtotal").each(function(index, element){
					total = total + parseFloat(element.innerHTML);
					
				});
				
				$("#totalAmount").text("ราคารวมทั้งหมด " + total + " บาท");
				$("#orderTotal").text(total + "฿");
			}
			
		</script>
		</div>
	</nav>
	<!-- Cart -->
	
	 <div class="container bg-white rounded-top mt-5" id="zero-pad">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-10 col-12 pt-3">
                <div class="d-flex">
                    <div class="pt-1">
                        <h2>[[${#request.userPrincipal.principal.username}]]'s Cart</h2>       
                    </div>
                    </div>
                     <div class="d-flex flex-column pt-4">
                         <!-- IF Cart empty -->
				    	<div th:if="${#lists.isEmpty(cartItems)}">
				    		<h3 class="justify-content-center">You have not chosen any order yet.</h3>
				   		</div>
                	</div>
                <!--Show Order !! -->
                <th:block th:each="item, status : ${cartItems}">
                <div class="container mt-2" th:with="menu = ${item.recommendmenu}" th:id="'row' + ${status.count}">
                    <div>
                    	<table class="table table-borderless table-responsive ">
							  <thead>
							    <tr>
							    	<th scope="col" ><div class="ml-2" id="img"></div></th>
							      	<th scope="col" width="45%"><div class="ml-2"  id="produc">Order</div></th>
							      	<th scope="col" width="1 5%"><div  id="prc">PRICE</div></th>
							      	<th scope="col"><div  id="quantity">QUANTITY</div></th>
							      	<th scope="col"><div  id="total">TOTAL</div></th>
							      	<th scope="col"><div  id="delete"></div></th>
							    </tr>
							    </thead>
							  <tbody>
								    <tr>
								      	<th scope="row">
									      	<div>
		                        				<img th:src="${menu.img_url}" width="120" height="120" alt="" id="image">
		                        			</div>
	                        			</th>
								      	<td><div th:text="${menu.name}" th:id="${menu.id}" class="crepe-menu p-2"></div></td>
								      	<td><div><b th:text="${menu.price}" th:id="'price'+${menu.id}"></b></div></td>
								      	<td>
							     			<div th:replace="quantity_control :: quantity_control(${item.quantity}, ${menu.id})">Quantity</div>				
	                    			  	</td>
	                    			  	<td>
	                    			  		<div class="h4"><span >฿</span><span th:id="'subtotal' + ${menu.id}" class="h4 menuSubtotal" th:href="@{'/Cart/update/' + ${menu.id}} + ${item.quantity} ">[[${item.subtotal}]]</span></div>
	                    			  	</td>
		                    			<td>
		                    				<div><a class="fas fa-trash icon remove" th:rowNumber="${status.count}" th:href="@{'/Cart/remove/' + ${menu.id}}"></a></div>		                    				
		                    			</td>
								    </tr>
							 </tbody>
						</table>
                </div>
                </div>
                </th:block>
            </div>
        </div>
    </div>
    
    <div class="container bg-light rounded-bottom py-4" id="zero-pad" th:unless="${#lists.isEmpty(cartItems)}">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-10 col-12">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="px-md-0 px-1 text-center" id="footer-font"> 
                    	<span class="pl-md-4"><b class="h4" id="totalAmount">TotalAmount</b></span> 
                    </div>
                    <div> 
						<button 
							class="btn btn-sm bg-dark text-white px-lg-5 px-3 "
							onclick="checkOut()"
							data-bs-toggle="modal"
							data-bs-target="#exampleModal"
						>
							Check Out
						</button> 
					</div>
                </div>
            </div>
        </div>
    </div>
	
	<!-- Pop up -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body ">
					<div class="text-right"> <i class="fas fa-times" data-bs-dismiss="modal"></i> </div>
					<div class="px-4 py-5">
						<h5 class="text-uppercase">คุณ [[${#request.userPrincipal.principal.fullName}]]</h5>
						<h4 class="mt-5 theme-color mb-5">ต้องการยืนยันออเดอร์นี้หรือไม่?</h4> <span class="theme-color">รายการสินค้า</span>
						<div class="mb-3">
							<hr class="new1">
						</div>
						<th:block th:each="item, status : ${cartItems}">
							<div th:with="menu = ${item.recommendmenu}" th:id="'row' + ${status.count}">
								<div class="d-flex justify-content-between"> 
									<span class="font-weight-bold" th:text="${menu.name} + '(x' + ${item.quantity} + ')'"></span>
									<span class="text-muted">[[${item.subtotal}]]฿</span>
								</div>
							</div>
						</th:block>
						<div class="d-flex justify-content-between"> <small>Shipping</small> <small>0.00฿</small> </div>
						<div class="d-flex justify-content-between"> <small>Tax</small> <small>0.00฿</small> </div>
						<div class="d-flex justify-content-between mt-3"> 
							<span class="font-weight-bold">Total</span> 
							<span class="font-weight-bold theme-color" id="orderTotal"></span> 
						</div>
						<form  class="box" th:action="@{/checkout}" method="post" th:object="${orders}">
							<input type="hidden" id="customer_name" name="customer_name" th:field="*{customer_name}" />
							<input type="hidden" id="menu_list" name="menu_list" th:field="*{menu_list}" />
							<input type="hidden" id="total_amount" name="total_amount" th:field="*{total_amount}"/>
							<div class="text-center mt-5"> <button type="submit" class="btn btn-outline-dark" th:onclick="|removeAllCart('${#request.userPrincipal.principal.id}')|">ยืนยันออเดอร์</button> </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
    
  	
</body>
</html>

