<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Menu</title>
	
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/webjars/js/umd/pepper.min.js}"></script>
	<!-- CSS -->
	<link th:href="@{/css/menu.css}" rel="stylesheet" />
	
	<!-- JS -->
    <script th:src="@{/js/quantity.js}"></script>
    <script th:src="@{/js/add_tocart.js}"></script>

	<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    
</head>
<body>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- NAV BAR ^ ^  -->
     <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
    	<!-- LOGO -->
  		<div class="container-fluid">
  		<!-- <div class="container-xl"> -->
  			<a class="navbar-brand" href="/">
      			<img th:src="@{/img/Logo_new.png}" width="50px" height="50px" class="d-inline-block align-top" alt="">
   			 </a>
    	<button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
      		<span class="navbar-toggler-icon"></span>
    	</button>
    	
    	<!-- Menu -->
     	<div class="topnav-right offcanvas-collapse" id="navbarsExampleDefault">
      		<ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navbar">
        		<li class="nav-item">
          			<a class="nav-link" aria-current="page" href="/">หน้าหลัก</a>
        		</li>
        		<li class="nav-item">
          			<a class="nav-link active" href="/Menu">เมนู</a>
        		</li>
        		<li class="nav-item">
          			<a class="nav-link" href="/About">เกี่ยวกับร้าน</a>
        		</li>
        		<li class="nav-item">
          			<a class="nav-link" href="/Cart">ตะกร้าของฉัน</a>
        		</li>
        		<li class="nav-item dropdown">
          			<a class="nav-link dropdown-toggle" href="/Account" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
          			<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown01">
            			<li><a class="dropdown-item" href="/Account">บัญชีของฉัน</a></li>
            			<li><a class="dropdown-item" href="/Account">การซื้อของฉัน</a></li>
            			
          			</ul>
        		</li>
      		</ul>
    	</div>
		</div>
	</nav>

<!-- Infomation  -->
<div class="main">
	<h2>เมนูแนะนำ</h2>
	<!-- Menu  -->
 	<div class="row featurette mt-5" th:each="recommendmenu : ${recommend}" >
 			
 			<div class="col-md-5 order-md-2 square rounded p-4">
			        <h2 th:text="${recommendmenu.name}"></h2>
			        <p class="price" th:text="${recommendmenu.price} + ' บาท'"></p>		 
			        <!--<div th:replace="quantity_control :: quantity_control(1, ${recommendmenu.id})">Quantity</div>  -->
			        <input type="number" step="1" min="1" max="10" th:id="'quantity'+${recommendmenu.id}" value="1" title="Qty" class="input-text qty text" size="10" >  
			           
			        <div>
			        	<button onclick="add2CartBtn($(this))" th:menuId="${recommendmenu.id}" id="buttonAdd2Cart" class="btn btn-primary">Add To Cart</button>
			        </div>
					<!-- <input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="10" >
  					<input type="submit" value="Add to cart"> -->
  			</div>
  			<!-- img Circle -->
		    <div class="col-md-3 order-md-1">
		         <img class="rounded-circle" alt="100x100" th:src="${recommendmenu.img_url}" data-holder-rendered="true" width="250px" height="250px">
		    </div>
		    <script type="text/javascript">
				contextPath = "[[@{/}]]";
				var csrfHeaderName = "[[${_csrf.headerName}]]";
				var csrfValue = "[[${_csrf.token}]]";
			</script>
    </div> 
</div>
<script type="text/javascript">
	(function () {
	  'use strict'

	  document.querySelector('#navbarSideCollapse').addEventListener('click', function () {
	    document.querySelector('.offcanvas-collapse').classList.toggle('open')
	  })
	})()
	
		var dropdown = document.getElementsByClassName("dropdown-btn");
	var i;
	
	for (i = 0; i < dropdown.length; i++) {
	  dropdown[i].addEventListener("click", function() {
	  this.classList.toggle("active");
	  var dropdownContent = this.nextElementSibling;
	  if (dropdownContent.style.display === "block") {
	  dropdownContent.style.display = "none";
	  } else {
	  dropdownContent.style.display = "block";
	  }
	  });
	}
</script>
</body>
</html>




