<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Register</title>
	
    <!-- ส่วน head bootstrap,js -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

	<!-- CSS -->
	<link th:href="@{/css/success.css}" rel="stylesheet" />
 
</head>
<body>

    <div class="container " style="max-width: 550px;">

                        <h2>Register SucessFully</h2>
                        <h4><a th:href="@{/}">Click here to login</a></h4>
                        
   
    </div>
		


				
</body>
</html>
