<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Register</title>
	
    <!-- ส่วน head bootstrap,js -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

	<!-- CSS -->
	<link th:href="@{/css/success.css}" rel="stylesheet" />
 
</head>
<body>
	<div>
		<div class="card mx-auto">
		  <div class="card-header h2">
		    Register SucessFully
		  </div>
		  <div class="card-body">
		    <h5 class="card-title">Welcome to Crepe Marie</h5>
		    
		    <a th:href="@{/}" class="btn btn-dark">Click here to login</a>
		  </div>
		</div>
	</div>

				
</body>
</html>
